
.about-content {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto; /* Center the container, not the content */
  }
  
  
  .about-header p {
    color: #ffffff; /* White color for the header text */
    text-align: left; /* Align the header text to the left */
    margin-left: 120px; /* Add left margin to shift the header slightly to the right */
  }


  .about-header {
    margin-bottom: 40px; /* Add margin below the header */
  }
  
  .about-header h1 {
    font-size: 3rem; /* Adjust the size as needed */
    color: #ffffff; /* White color for the header text */
    font-weight: 700; /* Bold font weight */
    text-align: left; /* Align the header text to the left */
    margin-left: 120px; /* Add left margin to shift the header slightly to the right */
  }
  
  .bio {
    margin-bottom: 40px;
  }
  
  .bio-text h2 {
    font-size: 2rem;
    color: #ffffff;
    font-weight: 600;
    text-align: left; /* Align bio header text to the left */
  }
  
  .bio-text p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #ffffff;
    max-width: 800px;
    text-align: left; /* Align bio text to the left */
  }
  
  .details {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Add space between experience and education sections */
  }
  
  .experience, .education {
    width: 45%;
    background-color: #333333; /* Dark background for contrast */
    border-radius: 8px; /* Rounded corners */
    padding: 20px; /* Add padding for spacing */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
  }
  
  .experience h3, .education h3 {
    font-size: 1.5rem;
    color: #ff923f; /* Highlight section headers */
    margin-bottom: 20px;
    text-align: left; /* Align section headers to the left */
  }
  
  .experience ul, .education ul {
    list-style: none;
    padding: 0;
  }
  
  .experience li, .education li {
    font-size: 1.1rem;
    color: #ffffff;
    margin-bottom: 10px;
  }
  
  @media (max-width: 768px) {
    .details {
      flex-direction: column;
    }
  
    .experience, .education {
      width: 100%;
      margin-bottom: 30px;
    }
  }
  